/* Icones */
.fa-camera {
  color: rgb(59, 42, 3);
  font-size: 300%;
}

.plus i, .minus i {
  font-size: 250%; 
  color: rgb(71, 55, 55);
  padding: 10px;
}

/* Nav Bar */
a.user {
  background-color: grey;
  border-radius: 50%;
  scroll-behavior: smooth;
}

.user img {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.couple-section .couple:hover .cover {
  opacity: 0.5;
}

.image-container {
  position: relative;
}

.couple-section .couple .cover {
  position: absolute; 
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background: rgb(16, 122, 136);
  display: flex;
  align-items: center;
  justify-content: center;
  color: white; 
  max-width: 280px;
  width: 100%; 
  height: 100%;
  border-radius: 50%;
  opacity: 0; 
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
  visibility: hidden;
}


.story-section .addStoryItem {
  background-color: #e4e4e4;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px green dashed;
  cursor: pointer;
  margin: 30px 10px;
}


.story-content .story-img .update_image {
  background-color: rgb(117, 128, 143);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 75px);
  height: 100%;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.story-content .story-img .update_image:hover {
  opacity: 0.6;
  cursor: pointer;
}

.story-content .story-item:nth-child(odd) .update_image {
    margin: 0 15px 0 60px;
}

.story-content .story-item:nth-child(even) .update_image {
  margin: 0 60px 0 15px;
}

.story-content .story-img {
  position: relative;
}


/* Témoin */
.witness-section .addWitnessItem {
  /* position: relative; */
  background-color: #e4e4e4;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px green dashed;
  cursor: pointer;
  margin: 30px 10px;
}


.witness-section .witness-img {
  position: relative;
}


.update_image{
  background-color: rgb(117, 128, 143);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-width: 30px;
  min-height: 30px;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.witness-section .update_image {
  margin-top: -40px;
  height: calc(100% + 40px);
}

.update_image:hover {
  opacity: 0.6;
  cursor: pointer;
}


/* Photos */
.gallery-section .photo_library {
  margin: 40px;
  width: 150px;
  height: auto;
  border: 3px solid #000000;
  padding: 10px;
  border-radius: 10%;
  background-color: #c7c7c7;
  text-align: center;
}

.witness-section .photo_library p {
  font-weight: 500;
}



.home-section .small_diapo {
  width: 150px;
  position: absolute;
  right: 0;
  top: 40%;
  z-index: 98;
}

.home-section .small_diapo_item {
  position: relative;
}

.home-section .small_diapo_item .update_image {
  background-color: rgb(117, 128, 143);
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100%);
  height: 100%;
  transition: opacity 0.3s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-section .small_diapo_item .update_image:hover {
  opacity: 0.6;
  cursor: pointer;
}

.diapo_img.active {
  border: 3px solid purple;
}

.add_remove {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.home-section .addDiapoItem {
  display: flex;
  width: 50px;
  height: 50px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px dashed green;
  cursor: pointer;
  margin: 20px 10px;
}

.home-section .addDiapoItem:hover {
  background-color: #000000;
}


.story-item:nth-child(odd) .story-img,
.story-item:nth-child(even) .story-text, 
.couple.item:nth-child(2) {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.story-item:nth-child(even) .story-img,
.story-item:nth-child(odd) .story-text,
.couple.item:nth-child(1) {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.event-item:nth-child(1) {
  opacity: 0;
  transform: translateY(-25%);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.event-section .event-item:nth-child(2) {
  opacity: 0;
  transform: translateY(35%);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.story-item .story-img.show,
.story-item .story-text.show,
.couple.item.show,
.gallery-item.show {
  opacity: 1;
  transform: translateY(0);
  transform: translateX(0) ;
}

.event-item.show {
  opacity: 1;
  transform: translateY(0);
}

.event-section .event-item:nth-child(2).show {
  opacity: 1;
  transform: translateY(50px);
}

.witness-item,
.gallery-item {
  opacity: 0;
  transform: translateX(-30px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.witness-item.show {
  opacity: 1;
  transform: translateX(0);
}