/* pink color style */

.btn-1:hover,
.event-section .event-item-inner span, 
.story-content .story-item i,
.story-content .story-text h3,
.couple-section .social-links a i,
.couple-section .couple i.fa-heart,
.couple-section .couple h3,
.header .nav ul li a.active,
.header .nav ul li a:hover {
    color: #fb839e;
}

.event-section .event-item-inner::before,
.couple-section .social-links a i,
.couple-section .couple img {
    border-color: #fb839e;
}

.btn-1,
.rsvp-section,
.witness-section .filter-btn.active,
.event-section,
.couple-section .social-links a:hover i {
    background-color: #fb839e;
}