* {
    box-sizing: border-box;
    transition: all 0.3s ease;
}

ul {
    list-style-type: none;
    color: black;
    margin: 0;
    padding: 0;
}

body,
html {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    width: 100vw;
    height: 100vh;
    display: flex;
}

/* Sidebar, extreme left */
.sidebar {
    width: 8%;
    min-width: 50px;
    height: 100%;
    background-color: #3f48cc;
    color: white;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.sidebar .top {
    width: 100%;
    /* height: 300px; */
}

.sidebar .top .icone {
    width: 100%;
    /* height: 20%; */
    padding: 10px;
}

.sidebar .top .icone img {
    width: 100%;
    border-radius: 50%;
    border: 2px solid #cccccc;
    cursor: pointer;
}

.sidebar .top .menu_buttons {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.sidebar .top .menu_buttons i {
    padding: 10px;
}

.sidebar .top .menu_buttons .icon_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.menu_buttons .icon_container:hover {
    background-color: #6D62E2;
}

.menu_buttons .icon_container.active {
    background-color: #6D62E2;
}

.sidebar .bottom {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.sidebar .bottom i {
    padding: 10px;
    background-color: #6D62E2;
    border-radius: 50%;
    margin: 5px;
    cursor: pointer;
}

/* End sidebar */

/* Navig Start */
.navig {
    /* min-width: 150px; */
    width: 12%;
    height: 100%;
    background-color: #ffffff;
    color: white;
    display: flex;
    flex-direction: column;
    padding: 10px;
    justify-content: space-between;
}

.navig .menu_title {
    text-align: center;
    border-bottom: 1px solid purple;
}

.navig h3, .navig h4 {
    color: #000000;
    text-transform: capitalize;
}

.navig .file_nav i {
    margin-right: 5px;
}

.navig .file_nav li {
    margin: 8px auto;
}

.navig .new_elem {
    text-align: center;
}
.navig .new_elem button {
    padding: 10px 20px;
    background-color: #5143E3;
    border-radius: 10px;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.navig .new_elem button:hover i {
    background-color:#6D62E2;
    padding: 8px;
    border-radius: 5px;
}

.navig .new_elem_popup {
    background-color: #F1EFFD;
    color: black;
    border-radius: 10%;
    margin-bottom: 20px;
    padding: 10px;
    text-align: left;
}

.navig .new_elem_popup li{
    position: relative;
    margin: 5px 0px;
    padding-left: 25px;
    width: 100%;
}

.navig .new_elem_popup li:hover {
    background-color: #6D62E2;
    cursor: pointer;
}

.navig .new_elem_popup li i {
    position: absolute;
    left: 0;
}
/* Navig End */

/* Main start */
.main {
    height: 100%;
    width: 70%;
    background-color: #F1EEFF;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main .header {
    height: 10%;
}

.main .header h3,
.main .header p {
    margin: 0;
}

.main .header p {
    font-size: 12px;
    margin-top: 5px;
}

.main .header p::before {
    content: '';
    display: inline-block;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: green;
}

.main .clouds {
    height: 30%;
    /* display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
    display: flex;
    gap: 14px;
    padding: 10px 0; 
    width: 100%;
}

.main .clouds .drive_box {
    height: 100%;
    max-width: 150px;
    aspect-ratio: 1;  
    background-color: #FFFFFF;
    border-radius: 20px; 
    flex: 1;
    padding: 20px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main .clouds .drive_box.active {
    background-color: #5444E2;
}

.main .drive_box .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 400; 
    height: 25%;
}

.main .drive_box .logo span {
    text-align: right;
    color: black;
    font-weight: 700;
    font-size: 80%;
}

.main .clouds .logo_img {
    height: 100%; 
    aspect-ratio: 1/1;
    background-color: #E6EDFA;
    border-radius: 50%;
    display: flex;
    /* padding: 15px; */
}

.main .clouds .logo_img img {
    max-width: 65%;
    margin: auto;
}

.main .drive_box.active {
    
    .logo_img {
        background-color: white;
    }

    span {
        color: white;
    }

    .total_size {
        background-color: #968EE5;
    }

    .current_size {
        background-color: #ffffff;
    }
}



.main .size .size_text {
    display: flex;
    justify-content: space-between;
    font-size: 80%;
    margin-bottom: 15px; 
    font-weight: bolder;
}

.main .size .size_bar {
    position: relative;
}

.main .size .total_size {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 5px;
    background-color: #F3F3F4;
    border-radius: 3px;
}

.main .size .current_size {
    position: absolute;
    bottom: 0;
    width: 40%;
    height: 5px;
    background-color: #5143E3;
    border-radius: 3px;
}


.main .folders {
    height: 30%;
    padding: 10px 0;
}

.main .folders .folders_text {
    display: flex;
    justify-content: space-between;
}

.main .folders_text h4,
.main .folders_text h5 {
    margin: 0 0 5px;
}

.main .folders_text h5 {
    color: #5444E2;
    cursor: pointer;
}

.main .folders .folders_elems { 
    width: 100%;
    display: flex;
    gap: 15px;
}

.main .folders .folders_elem {
    background-color: white; 
    height: 100px;
    border-radius: 10px; 
    padding: 10px; 
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-basis: 150px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.main .folders_elem.active {
    background-color: #5444E2;

    .folder_logo {
        color: #ffffff;
    }

    .folder_line {
        background-color: #ffffff;
    }

    p {
        color: #FFFFFF;
    }

}

.main .folders .folders_elem:hover {
    background-color: #cccccc;
}

.main .folders .folders_elem.active:hover {
    background-color: #5444e2dc;
}

.main .folders_elem .folder_logo {
    color: #5446E2;
    font-size: 180%;
}

.main .folders_elem p {
    text-transform: capitalize;
}

.main .folders_elem .folder_line {
    position: absolute;
    width: 100%;
    height: 2%;
    background-color: #6D62E2;
    left: 0;
    top: 45%;
}

.main .folders_elem p {
    font-weight: 600; 
    font-size: 80%;
    margin-bottom: 7px; 
}

.last_modif i {
    font-size: 80%;
}

.last_modif span {
    font-size: 10px;
}

 .last_modif {
    color: grey;
    display: flex;
    align-items: center;
    gap: 5px;
}


/* Files part */
.main .files_part {
    height: 30%;
}

.main .files_part .files_text {
    display: flex;
    justify-content: space-between;
}

.main .files_text h5 {
    color: #5444E2;
    cursor: pointer;
}

.main .files_text h4,
.main .files_text h5 {
    margin: 0 0 8px;
}

.files_container {
    display: grid;
    row-gap: 10px;
    overflow: hidden;
    align-items: start;
    grid-auto-rows: min-content;
}

.file_header,
.file {
    display: grid;
    grid-template-columns: 1fr 1fr 4fr 1.5fr 3fr 1fr;
    grid-template-areas: "icon type name size last-updated more";
    text-align: center;
    cursor: pointer;
}

.file_type {
    grid-area: type;
}

.file {
    background-color: #ffffff;
    border-radius: 5px;
    padding: 8px 0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.file:hover {
    background-color: #cccccc
}

.file .option {
    cursor: pointer;
}

/* So that it hides the overflowing lines */
.file:not(.show) {
    display: none;
}

.file_header span,
.file span {
    padding: 0 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.file .file_date {
    overflow: hidden;
    white-space: nowrap;
}

.file .file_date p {
    display: inline;
}

.file.active {
    background-color: #c2bae7;
}

/* ======= Main end ======= */

/* ===== DETAIL ===== */
.detail {
    height: 100%;
    width: 30%;
    background-color: #FFFFFF;
    padding: 15px;
    position: relative;
}

.detail .waiting_container {
    position: absolute;
    background: linear-gradient(180deg, rgba(255,233,215,1) 0%, rgba(255,233,215,1) 90%, rgba(163,163,163,1) 100%);
    height: 100%;
    border-radius: 10px;
}

.detail .waiting_container img {
    max-width: 100%;   
}

.detail_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-areas: "overview overview"
                         "size date"
                         "folder dimension";
    padding: 0 10px;
    margin-bottom: 15px;
}

.overview {
    grid-area: overview;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
}

.overview img {
    max-width: 100%;
    border-radius: 50%;
    border: 3px solid green;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: #f5f5fb;
    margin: 4px;
    border-radius: 8px;
    border: 2px solid #5444e2;
}

.info p {
    margin: 0;
    text-align: center;
}

.info img {
    max-width: 30%;
}

.main .fa-file-image, .main .fa-image {
    color: rgb(79, 181, 199);
}


@media (max-width: 800px) {
    .sidebar,
    .new_elem_popup p {
        display: none;
    }

    .navig .file_nav li {
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .navig .file_nav li {
        background-color: #cccccc;
        border-radius: 5px;
        padding: 5px;
    }

    .navig .new_elem_popup li i {
        position: initial;
    }

    .navig .new_elem_popup ul {
        text-align: center;
    }

    .navig .button_span {
        display: none;
    }

    .navig .new_elem_popup li {
        padding: 0;
    }

    .last_modif {
        display: none;
    }

    .detail_grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr 1fr 1fr 1fr; /* Modification pour avoir plus de lignes */
        grid-template-areas: "overview"
                "size" "date"
                "folder" "dimension";
        row-gap: 10px;
    }

    .info {
        margin: 3px 15px;
    }

    .info img {
        max-width: 20%;
    }
}

@media (max-height: 900px) {
    .last_modif {
        display: none;
    }
}