<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contenu de la table {{ table_name }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1 class="mt-5">Contenu de la table {{ table_name }}</h1>
        <table class="table table-bordered table-striped mt-3">
            <thead class="thead-dark">
                <tr>
                    {% for column in column_names %}
                    <th>{{ column }}</th>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                <tr>
                    {% for item in row %}
                    <td>{{ item }}</td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('main.index') }}" class="btn btn-primary mt-3">Retour à l'accueil</a>
    </div>
</body>

</html>