<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Interface</title>
    <link rel="stylesheet" href="../static/css/souvenirs.css">
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.css" />
</head>

<body>
    <section class="sidebar">
        <div class="top">
            <div class="icone">
                <img src="../static/img/couple/bride.png" alt="">
            </div>
            <div class="menu_buttons">
                <div class="icon_container active" id="home">
                    <i class="fas fa-home"></i>
                </div>
                <div class="icon_container" id="shared">
                    <i class="fas fa-handshake"></i>
                </div>
                <div class="icon_container" id="deleted">
                    <i class="fas fa-trash"></i>
                </div>
                <div class="icon_container" id="recent">
                    <i class="fas fa-clock"></i>
                </div>
            </div>
        </div>

        <div class="bottom">
            <div class="icon_logout">
                <i class="fas fa-sign-out-alt"></i>
            </div>
        </div>
    </section>
    <section class="navig">
        <div class="navigation">
            <div class="menu_title">
                <h3>Home</h3>
            </div>
            
            <div class="file_nav">
                <h4>Storage</h4>
                <ul>
                    <li><i class="fas fa-folder"></i>Premier</li>
                    <li><i class="fas fa-folder"></i>Deuxieme</li>
                    <li><i class="fas fa-folder"></i>Troisième</li>
                    <li><i class="fas fa-folder"></i>Quatrième</li>
                    <li><i class="fas fa-folder"></i>Cinquième</li>
                </ul>
            </div>
        </div>

        <div class="new_elem">
            <div class="new_elem_popup">
                <ul>
                    <li class="new_folder"><i class="fas fa-folder-plus"></i><p>Folder</p></li>
                    <li class="new_file"><i class="fas fa-image"></i><p>Image</p></li>
                    <li><i class="fas fa-hashtag"></i><p>Link</p></li>
                </ul>

                <div class="black_bg_form" id="folder_form">
                    <div class="folder_popup">
                        <div class="form-popup" id="popupForm">
                            <form class="form-container">
                                <h2>Type the new folder's name</h2>
                                <label for="folder_name">
                                    <strong>Name</strong>
                                </label>
                                <input type="text" id="folder_name" placeholder="Folder's name" name="folder_name" required />
                                <button type="button" class="btn create_folder">Create</button>
                                <button type="button" class="btn cancel">Fermer</button>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Add new image START -->
                <div class="black_bg_form" id="file_form">>
                    <div class="fileform_container">
                        <h1>Upload an image 
                            <small>with preview</small>
                        </h1>
                        <div class="avatar-upload">
                            <div class="avatar-edit">
                                <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
                                <label for="imageUpload"></label>
                            </div>
                            <div class="avatar-preview">
                                <div id="imagePreview">
                                    
                                </div>
                            </div>
                        </div>
                        <h1><small>Image name</small></h1>
                        <input type="text" id="file_name" placeholder="Picture name" name="file_name" class="mandatory" required />
                        <h1><small>Folder</small></h1>
                        <div class="folder_dropdown">
                            <button class="dropdown-toggle dropdownMenuButton mandatory">
                                <span></span>
                                <i class="fas fa-chevron-circle-left chevron"></i>
                            </button>
                            <div class="dropdown-menu">

                            </div>
                        </div>
                        <button type="button" class="btn upload_file">Upload</button>
                        <button type="button" class="btn cancel">Fermer</button>
                    </div>
                </div>

            </div>
            <button class="new_elem_btn">
                <span class="button_span">Create New</span>
                <span><i class="fas fa-plus"></i></span>
            </button>
            <!-- Add ney image START -->
        </div>
    </section>
    <section class="main">

        <div class="toptitle">
            <h3>My Cloud</h3>
            <p>Hi Jim, Welcome back !</p>
        </div>

        <div class="clouds">
            <div class="google_drive drive_box active"> 

                <div class="logo">
                    <div class="logo_img">
                        <img src="../static/img/other/google_drive.png" alt="">
                    </div>
                    <span class="logo_name">Google Drive</span>
                </div>

                <div class="size">
                    <div class="size_text">
                        <span>4 GB</span> 
                        <span>10 GB</span> 
                    </div> 

                    <div class="size_bar">
                        <div class="total_size"></div>
                        <div class="current_size"></div>
                    </div>
                </div>

                <div class="last_modif">
                    <i class="fas fa-info-circle"></i>
                    <span>Last modif : 4th May</span>
                </div>

            </div>
            
            <div class="dropbox drive_box">

                <div class="logo">
                    <div class="logo_img">
                        <img src="../static/img/other/dropbox.png" alt="">
                    </div>
                    <span class="logo_name">Drop Box</span>
                </div>
                
                <div class="size">
                    <div class="size_text">
                        <span>4 GB</span> 
                        <span>10 GB</span> 
                    </div> 

                    <div class="size_bar">
                        <div class="total_size"></div>
                        <div class="current_size"></div>
                    </div>
                </div>

                <div class="last_modif">
                    <i class="fas fa-info-circle"></i>
                    <span>Last modif : 4th May</span>
                </div>

            </div>

            <div class="google_drive drive_box">

                <div class="logo">
                    <div class="logo_img">
                        <img src="../static/img/other/onedrive.png" alt="">
                    </div>
                    <span class="logo_name">One Drive</span>
                </div>
                
                <div class="size">
                    <div class="size_text">
                        <span>4 GB</span> 
                        <span>10 GB</span> 
                    </div> 

                    <div class="size_bar">
                        <div class="total_size"></div>
                        <div class="current_size"></div>
                    </div>
                </div>

                <div class="last_modif">
                    <i class="fas fa-info-circle"></i>
                    <span>Last modif : 4th May</span>
                </div>

            </div>
        </div>

        <div class="folders">
            <div class="folders_text main_headers">
                <h4>Folders</h4>
                <h5>View all</h5>
            </div>
            <div class="folders_container">
                <div class="folders_elem active">
                    <i class="fas fa-folder folder_logo"></i>
                    <div class="folder_line"></div>
                    <p>Analytics</p>
                    <div class="last_modif">
                        <i class="fas fa-info-circle"></i>
                        <span>Last modif : 4th May</span>
                    </div>
                </div>
                <div class="folders_elem">
                    <i class="fas fa-folder folder_logo"></i>
                    <div class="folder_line"></div>
                    <p>Analytics</p>
                    <div class="last_modif">
                        <i class="fas fa-info-circle"></i>
                        <span>Last modif : 4th May</span>
                    </div>
                </div>

            </div>
        </div>

        <div class="files_part">
            <div class="files_text main_headers">
                <h4>Recent files</h4>
                <h5 class="view_all">View all</h5>
            </div>
            <div class="files_container">
                <div class="file_header">
                    <input type="checkbox" id="mainCheckbox">
                    <span>Type</span>
                    <span>Name</span>
                    <span>Size</span>
                    <span>Last Updated</span>
                    <span>Setting</span>
                </div>
                <div class="file">
                    <input type="checkbox" class="childCheckbox">
                    <span class="file_type"><i class="fas fa-image"></i></span>
                    <span class="file_name">Deals on Pne thing</span>
                    <span class="file_size">100 Mb</span>
                    <div class="file_date">03 March 2023 </div>
                    <span class="setting"><i class="fas fa-ellipsis-h option"></i></span>

                </div>
                <div class="file">
                    <input type="checkbox" class="childCheckbox">
                    <span class="file_type"><i class="fas fa-image"></i></span>
                    <span class="file_name">Deals on Black Friday and many other</span>
                    <span class="file_size">200 Mb</span>
                    <span class="file_date">03 Dec 2021</span>
                    <span class="setting"><i class="fas fa-ellipsis-h option"></i></span>
                    
                </div>
              
                
            </div>
        </div>

        <!-- Rename file START -->
        <div class="black_bg_form" id="rename_form">
            <div class="rename_popup">
                <div class="form-popup" id="popupForm">
                    <form class="form-container">
                        <h2>Type the new image name</h2>
                        <label for="image_name">
                            <strong>Name</strong>
                        </label>
                        <input type="text" id="new_name" placeholder="New name" name="image_name" required />
                        <button type="button" class="btn rename_image">Rename</button>
                        <button type="button" class="btn cancel">Close</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Rename file END -->

        <!-- Delete file START -->
        <div class="black_bg_form" id="delete_form">
            <div class="delete_popup">
                <div class="form-popup" id="popupForm">
                    <form class="form-container">
                        <button type="button" class="btn delete_image">Delete</button>
                        <button type="button" class="btn cancel">Close</button>
                    </form>
                </div>
            </div>
        </div>
        <!-- Delete file END -->

        <!-- Move image START -->
            <div class="black_bg_form" id="move_form">>
                <div class="container">
                    <h1>Move an image 
                        <small>to a new folder</small>
                    </h1>

                    <div class="folder_dropdown">
                        <button class="dropdown-toggle dropdownMenuButton">
                            <span></span>
                            <i class="fas fa-chevron-circle-left"></i>
                        </button>
                        <div class="dropdown-menu">

                        </div>
                    </div>
                    <button type="button" class="btn move_image">Upload</button>
                    <button type="button" class="btn cancel">Fermer</button>
                </div>
            </div>

        </div>
        <!-- Move image START -->
    </section>
    <section class="detail">
        <div class="waiting_container">
            <img src="../static/img/other/waitingfile.png" alt="">
        </div>
        <div class="detail_grid">
            <div class="overview">
                <img src="../static/img/couple/bride.png" alt="">
            </div>
            <div class="size info"><img src="../static/img/other/weight.png" alt=""> <p>42 Mb </p></div>
            <div class="date info"><img src="../static/img/other/calendar.png" alt=""> <p>01 Dec 2020 </p></div>
            <div class="parent info"><img src="../static/img/other/folder.svg" alt=""> <p>Folder </p></div>
            <div class="dimension info"><img src="../static/img/other/ruler.png" alt=""> <p> 680x1040 </p></div>
        </div>

        <!-- gallery popup start -->
        <div class="gallery-popup">
            <div class="gp-container">
                <div class="gp-close">&times;</div>
                <div class="image_container">
                    <div id="thumbselect">
                        <div class="resizer"></div>
                    </div>
                    <img src="../static/img/gallery/large/2.jpg" class="gp-img" alt="gallery img">
                </div>
            </div>
        </div>
        <!-- gallery popup end -->
    </section>

    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/souvenirs.js"></script>
    <script src="../static/js/gallery_thumb.js"></script>

</body>

</html>