<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Interface</title>
    <link rel="stylesheet" href="../static/css/souvenirs.css">
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.css" />
</head>

<body>
    <section class="sidebar">
        <div class="top">
            <div class="icone">
                <img src="../static/img/couple/bride.png" alt="">
            </div>
            <div class="menu_buttons">
                <div class="icon_container active">
                    <i class="fas fa-home"></i>
                </div>
                <div class="icon_container">
                    <i class="fas fa-handshake"></i>
                </div>
                <div class="icon_container">
                    <i class="fas fa-trash"></i>
                </div>
                <div class="icon_container">
                    <i class="fas fa-clock"></i>
                </div>
            </div>
        </div>

        <div class="bottom">

        </div>
    </section>
    <section class="navig">
        <!-- Plus d'éléments de navigation -->
    </section>
    <section class="main">
        <!-- <header>
            <h1>My cloud</h1>
            <p>Hi Shahin welcome back!</p>
            <input type="search" placeholder="Search here...">
        </header>
        <div class="storage-cards">
            <div class="card">Google Drive</div>
            <div class="card">Dropbox</div>
            <div class="card">One Drive</div>
        </div> -->
    </section>
    <section class="detail">

    </section>
</body>

</html>