<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard Interface</title>
    <link rel="stylesheet" href="../static/css/souvenirs.css">
    <link rel="stylesheet" type="text/css" href="../static/css/font-awesome.css" />
</head>

<body>
    <section class="sidebar">
        <div class="top">
            <div class="icone">
                <img src="../static/img/couple/bride.png" alt="">
            </div>
            <div class="menu_buttons">
                <div class="icon_container active" id="home">
                    <i class="fas fa-home"></i>
                </div>
                <div class="icon_container" id="shared">
                    <i class="fas fa-handshake"></i>
                </div>
                <div class="icon_container" id="deleted">
                    <i class="fas fa-trash"></i>
                </div>
                <div class="icon_container" id="recent">
                    <i class="fas fa-clock"></i>
                </div>
            </div>
        </div>

        <div class="bottom">
            <div class="icon_logout">
                <i class="fas fa-sign-out-alt"></i>
            </div>
        </div>
    </section>
    <section class="navig">
        <div class="navigation">
            <div class="menu_title">
                <h3>Home</h3>
            </div>
            
            <div class="file_nav">
                <h4>Storage</h4>
                <ul>
                    <li><i class="fas fa-folder"></i>Premier</li>
                    <li><i class="fas fa-folder"></i>Deuxieme</li>
                    <li><i class="fas fa-folder"></i>Troisième</li>
                    <li><i class="fas fa-folder"></i>Quatrième</li>
                    <li><i class="fas fa-folder"></i>Cinquième</li>
                </ul>
            </div>
        </div>

        <div class="new_elem">
            <div class="new_elem_popup">
                <ul>
                    <li><i class="fas fa-folder-plus"></i>Folder</li>
                    <li><i class="fas fa-image"></i>Image</li>
                    <li><i class="fas fa-hashtag"></i>Other</li>
                </ul>
            </div>
            <button>
                <span>Create New</span>
                <span><i class="fas fa-plus"></i></span>
            </button>
        </div>
    </section>
    <section class="main">
        
    </section>
    <section class="detail">

    </section>

    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/souvenirs.js"></script>

</body>

</html>